@import '../../theme/variables.scss';

.app {
  width: 80%;
  margin: 5vh auto;

  // START :: search container
  .pokemon-search-container {

    .pokemon-img {
      display: block;
      margin: 0 auto;
      margin-bottom: $marginLg;
    }

    .error-msg {
      color: $errorColor;
      margin-top: $marginSm;
    }
  }

  // END :: search container

  .pokemon-display-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc((100% - 3*20px)/4));
    gap: 20px;
    margin-top: $marginLg;
    @include for-tablet-down {
      grid-template-columns: repeat(auto-fill, calc((100% - 2*20px)/3));
    }
    @include for-phone-only {
      grid-template-columns: repeat(auto-fill, 100%);
    }
  }

}